################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EKIHIRE/.vs/EkiHire/v16
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.0
/EKIHIRE/EkiHire.Business/obj
/EKIHIRE/EkiHire.Data/obj
/EKIHIRE/EkiHire.Data/bin/Debug/netstandard2.0
/EKIHIRE/EkiHire.Core/obj
/EKIHIRE/EkiHire.Core/bin/Debug/netstandard2.0
/EKIHIRE/EkiHire.WebAPI/obj
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net5.0
/EKIHIRE/.vs/EkiHire/DesignTimeBuild/.dtbcache.v2
/EKIHIRE/.vs/EkiHire/FileContentIndex/10290e70-1cef-4950-931f-e08746b8751f.vsidx
/EKIHIRE/.vs/EkiHire/FileContentIndex/ac70f551-2047-4d59-9bab-dd539cdd78fe.vsidx
/EKIHIRE/.vs/EkiHire/FileContentIndex/read.lock
/EKIHIRE/.vs/ProjectEvaluation/ekihire.metadata.v7.bin
/EKIHIRE/.vs/ProjectEvaluation/ekihire.projects.v7.bin
/EKIHIRE/.vs/EkiHire/v17/.suo
