################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EKIHIRE/.vs/EkiHire/v16
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.0
/EKIHIRE/EkiHire.Business/obj
/EKIHIRE/EkiHire.Data/obj
/EKIHIRE/EkiHire.Data/bin/Debug/netstandard2.0
/EKIHIRE/EkiHire.Core/obj
/EKIHIRE/EkiHire.Core/bin/Debug/netstandard2.0
/EKIHIRE/EkiHire.WebAPI/obj
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net5.0
/EKIHIRE/.vs/EkiHire/DesignTimeBuild/.dtbcache.v2
/EKIHIRE/.vs/EkiHire/FileContentIndex/10290e70-1cef-4950-931f-e08746b8751f.vsidx
/EKIHIRE/.vs/EkiHire/FileContentIndex/ac70f551-2047-4d59-9bab-dd539cdd78fe.vsidx
/EKIHIRE/.vs/EkiHire/FileContentIndex/read.lock
/EKIHIRE/.vs/ProjectEvaluation/ekihire.metadata.v7.bin
/EKIHIRE/.vs/ProjectEvaluation/ekihire.projects.v7.bin
/EKIHIRE/.vs/EkiHire/v17/.suo
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.1/EkiHire.Business.dll
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.1/EkiHire.Business.pdb
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.1/EkiHire.Core.dll
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.1/EkiHire.Core.pdb
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.1/EkiHire.Data.dll
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.1/EkiHire.Data.pdb
/EKIHIRE/EkiHire.Business/bin/Release/netstandard2.1/EkiHire.Business.deps.json
/EKIHIRE/EkiHire.Business/bin/Release/netstandard2.1/EkiHire.Business.dll
/EKIHIRE/EkiHire.Business/bin/Release/netstandard2.1/EkiHire.Business.pdb
/EKIHIRE/EkiHire.Business/bin/Release/netstandard2.1/EkiHire.Core.dll
/EKIHIRE/EkiHire.Business/bin/Release/netstandard2.1/EkiHire.Core.pdb
/EKIHIRE/EkiHire.Business/bin/Release/netstandard2.1/EkiHire.Data.dll
/EKIHIRE/EkiHire.Business/bin/Release/netstandard2.1/EkiHire.Data.pdb
/EKIHIRE/EkiHire.Core/bin/Debug/netstandard2.1/EkiHire.Core.dll
/EKIHIRE/EkiHire.Core/bin/Debug/netstandard2.1/EkiHire.Core.pdb
/EKIHIRE/EkiHire.Core/bin/Release/netstandard2.1/EkiHire.Core.deps.json
/EKIHIRE/EkiHire.Core/bin/Release/netstandard2.1/EkiHire.Core.dll
/EKIHIRE/EkiHire.Core/bin/Release/netstandard2.1/EkiHire.Core.pdb
/EKIHIRE/EkiHire.Data/bin/Debug/netstandard2.1/EkiHire.Core.dll
/EKIHIRE/EkiHire.Data/bin/Debug/netstandard2.1/EkiHire.Core.pdb
/EKIHIRE/EkiHire.Data/bin/Debug/netstandard2.1/EkiHire.Data.dll
/EKIHIRE/EkiHire.Data/bin/Debug/netstandard2.1/EkiHire.Data.pdb
/EKIHIRE/EkiHire.Data/bin/Release/netstandard2.1/EkiHire.Core.dll
/EKIHIRE/EkiHire.Data/bin/Release/netstandard2.1/EkiHire.Core.pdb
/EKIHIRE/EkiHire.Data/bin/Release/netstandard2.1/EkiHire.Data.deps.json
/EKIHIRE/EkiHire.Data/bin/Release/netstandard2.1/EkiHire.Data.dll
/EKIHIRE/EkiHire.Data/bin/Release/netstandard2.1/EkiHire.Data.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/ref/EkiHire.WebAPI.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-arm64/native/sni.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-x64/native/sni.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/app.config
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/appsettings.Development.json
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/appsettings.json
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/BouncyCastle.Crypto.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/CloudinaryDotNet.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.Business.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.Business.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.Core.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.Core.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.Data.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.Data.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.WebAPI.deps.json
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.WebAPI.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.WebAPI.dll.config
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.WebAPI.exe
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.WebAPI.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.WebAPI.runtimeconfig.dev.json
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EkiHire.WebAPI.runtimeconfig.json
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EntityFramework.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/EntityFramework.SqlServer.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/errors.json
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/FirebaseAdmin.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Google.Api.Gax.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Google.Api.Gax.Rest.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Google.Apis.Auth.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Google.Apis.Auth.PlatformServices.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Google.Apis.Core.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Google.Apis.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Google.Apis.Drive.v3.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Humanizer.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/IdentityModel.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/lga.json
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/log4net.config
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/log4net.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/MailKit.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNet.Identity.Core.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNet.Identity.EntityFramework.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Authentication.Facebook.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Authentication.Google.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Connections.Abstractions.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Http.Connections.Client.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Http.Connections.Common.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Http.Features.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.JsonPatch.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.SignalR.Client.Core.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.SignalR.Client.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.SignalR.Common.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Data.SqlClient.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Design.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.EntityFrameworkCore.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Extensions.DependencyInjection.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Extensions.Identity.Core.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Extensions.Identity.Stores.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Extensions.Logging.Log4Net.AspNetCore.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Extensions.Primitives.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Extensions.WebEncoders.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.Identity.Client.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.IdentityModel.Logging.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.IdentityModel.Protocols.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.IdentityModel.Tokens.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Microsoft.OpenApi.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/runtimes/win-x86/native/sni.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/MimeKit.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/MoreLinq.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Newtonsoft.Json.Bson.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Newtonsoft.Json.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/PagedList.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/PagedList.Mvc.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/System.Configuration.ConfigurationManager.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/System.Data.SqlClient.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/System.Diagnostics.DiagnosticSource.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/System.IdentityModel.Tokens.Jwt.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/System.IO.Pipelines.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/System.Net.WebSockets.WebSocketProtocol.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/System.Runtime.Caching.dll
/EKIHIRE/EkiHire.WebAPI/bin/Release/net5.0/System.Security.Cryptography.ProtectedData.dll
/EKIHIRE/EkiHire.Business/bin/Debug/netstandard2.1/EkiHire.Business.deps.json
/EKIHIRE/EkiHire.Core/bin/Debug/netstandard2.1/EkiHire.Core.deps.json
/EKIHIRE/EkiHire.Data/bin/Debug/netstandard2.1/EkiHire.Data.deps.json
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
*.dll
*.pdb
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/app.config
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/appsettings.Development.json
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/appsettings.json
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/EkiHire.WebAPI.deps.json
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/EkiHire.WebAPI.dll.config
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/EkiHire.WebAPI.exe
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/EkiHire.WebAPI.runtimeconfig.json
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/EkiHire.WebAPI.staticwebassets.runtime.json
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/errors.json
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/lga.json
/EKIHIRE/EkiHire.WebAPI/bin/Debug/net7.0/log4net.config
*.vsidx
